


*{margin:0;
    padding:0;
} /* Não deixar que os itens da página atinjam as estremidades */
    
body{
    background-color: #1d1d1d; /* #1d1d1d rgb(27, 25, 25) cor do fundo */ 
    font-family: 'Times New Roman', Times, serif; /* tipo da fonte */ 
    font-size: 20px; /* tamanho da fonte */ 
    font-style: normal; /* estilo da fonte */ 
}
   
header{
    background-color: black;
}
    
header img{ /* Definições da imagem que estão dentro do cabeçalho */
    width: 250px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    margin: 10px; /* Margem da imagem */
    margin-left: 20px;
}

#menu ul{ /* ID para lista */
    list-style: none; /* Sem nenhum estilo na lista, tira os pontos */
    margin-right: 272px;
    align-items: center;
}

#menu ul li i{ 
    margin-right: 5px; /* Adiciona um espaçamento à direita do ícone */
}

#menu ul li { 
    display: flex; /* Transforma o li em um container flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-top: -50px;
  }
    
#menu li{
    position: relative; /* Posição relativa do item da lista */
}
    
#menu li a{ 
    color: white; /* Cor do texto do menu */
    text-decoration: none; /* Sem estilo no texto */
    padding: 10px 10px; /* Espaçamento entre os textos no Menu */
    display: block; /* Opções do menu bloqueadas na posição atual */
}
    
#menu li a:hover{ /* trocar a cor do fundo, quando passar o mouse */
    background: #ff5055; /* Fundo do efeito */
    color: #fff; /* Cor do texto no fundo */
    text-shadow: 0px 0px 5px black; /* Sombra do efeito */
}
    
#menu li ul{
    position: absolute;
    top: 25px; /* Espaçamento do topo */
    left: 0; /* Espaçamento da esquerda */
    background-color: #fff;
    display: none;
}
    
menu li:hover ul, #menu li.over ul{
    display: block; /* Durante o efeito não moverá o menu */
}
    
header, #menu, #menu ul{
    display: flex;
}
    
footer{
    background-color: black;
    display: flex; /* Utiliza flexbox para organizar os elementos */
    justify-content: space-between; /* flex-end Alinha os elementos para o final da linha */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    padding: 10px; /* Adiciona um espaçamento interno */
}
    
footer img{
    width: 250px;
    height: 100px;
}
    
footer p{
    color: white;
    margin-right: 20px; /* Espaçamento entre o texto e a imagem */
    font-family: 'Times New Roman', Times, serif; /* tipo da fonte */ 
    font-size: 20px; /* tamanho da fonte */ 
    font-style: normal; /* estilo da fonte */ 
    text-align: center;
}

.rodape{
    text-align: left;
    margin-left: 12px; /* 16.5 */
}

#menu{
    list-style: none;
    margin: 0 auto; /* Centraliza horizontalmente o menu */
    margin-top: 45px; /* Ajusta a margem superior */
}

.lupa{
    margin-top: 45px;
    margin-right: 25px;
}

.search-box { /* Barra de pesquisa */
    position: absolute; 
    margin-top: 60px; 
    margin-left: 1127px; 
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px;
    padding: 10px; 
}

.search-btn { /* Botão de busca */
    color: #ff5055;
    float: right; 
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background: #1d1d1d; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: 2s; 
}

.search-txt { /* Texto para pesquisa */
    border: none; 
    background: none; 
    outline: none; 
    float: left; 
    padding: 0; 
    color: white; 
    font-size: 16px; 
    transition: 0.4s; 
    line-height: 40px; 
    width: 0px; 
}

.search-box:hover > .search-txt { /* Expandir */
    width: 85px; 
    padding: 2px;
}

.search-box:hover > .search-btn { 
    background: white; 
}

.notification{
    position: absolute; 
    margin-top: 60px; 
    margin-left: 1240px; 
    transform: translate(-50%, -50%); 
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px;
    padding: 10px; 
    
    color: #ff5055; 
    float: right; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: #1d1d1d; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: 2s; 
}

.box-notification{
    margin-top: 168px;
    background-color: #342f2f; /* #2a0c36  -- #1d1d1d*/
    width: 200px;
    height: 100px;
    color: white;
    text-size-adjust: 16px;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.img{
    width: 150px; 
    height: 40px;
}

.notification:hover .box-notification{
    visibility: visible;
    opacity: 1;
}

.enter{
    position: absolute; 
    margin-top: 60px; 
    margin-left: 1310px; 
    transform: translate(-50%, -50%); 
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px;
    padding: 10px; 
    
    color: #ff5055; 
    float: right; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: #1d1d1d; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: 2s; 
}

.box { /* Barra de pesquisa rodapé */
    position: absolute; 
    margin-top: 60px; 
    margin-left: 750px; 
    transform: translate(-50%, -50%); 
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px; 
    padding: 10px; 
    width: 560px;
}

.btn { /* Botão de busca rodapé */
    color: #ff5055; 
    float: right; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: 2s; 
}

.txt { /* Texto para pesquisa rodapé */
    border: none; 
    background: none; 
    outline: none; 
    float: left; 
    padding: 0; 
    color: white; 
    font-size: 16px; 
    line-height: 40px; 
    width: 0px; 
    width: 520px; 
    flex: 1;
}

/* PARTE PARA SEREM EDITADAS INDIVIDUALMENTE */



























/* Estilo para o contêiner do carrossel*/
.div-slider {
    width: auto; /* Largura automática */
    height: 400px; /* Altura do carrossel */
    text-align: center; /* Centraliza o conteúdo textualmente */
}

/* Estilo para o contêiner dos slides */
.slides-front {
    padding: 0; /* Remove o preenchimento */
    width: 980px; /* Largura do carrossel */
    height: 370px; /* Altura do carrossel */
    display: block; /* Exibe o contêiner como bloco */
    margin: auto; /* Centraliza o contêiner horizontalmente */
    position: relative; /* Permite posicionamento absoluto dos filhos */
}

/* Desativa a seleção de texto para todos os elementos dentro de slides-front */
.slides-front * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/* Esconde os inputs de controle dos slides */
.slides-front input {
    display: none;
}

/* Estilo para o contêiner dos slides */
.slide-container {
    display: block; /* Exibe o contêiner como bloco */
}

/* Estilo para cada slide */
.slide {
    top: 0; /* Posiciona o slide no topo do contêiner */
    opacity: 0; /* Torna o slide invisível inicialmente */
    width: 980px; /* Largura do slide */
    height: 500px; /* Altura do slide */
    display: block; /* Exibe o slide como bloco */
    position: absolute; /* Posiciona o slide absolutamente dentro do contêiner */
    transform: scale(0); /* Inicialmente escala o slide para 0 */
    transition: all .7s ease-in-out 0.1s; /* Transição suave para todas as propriedades */
}

/* Estilo para a imagem dentro de cada slide */
.slide img {
    width: 100%; /* Largura da imagem é 100% do slide */
    height: 100%; /* Altura da imagem é 100% do slide */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo para os botões de navegação (setas) */
.nav label {
    width: 150px; /* Largura dos botões de navegação */
    height: 100%; /* Altura dos botões de navegação */
    display: none; /* Inicialmente escondido */
    position: absolute; /* Posiciona o botão absolutamente */
    opacity: 0; /* Torna o botão invisível */
    z-index: 9; /* Define a ordem de empilhamento (acima dos slides) */
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    transition: opacity .2s; /* Transição suave para a opacidade */
    color: rgb(255, 255, 255); /* Cor do texto dos botões de navegação */
    font-size: 156pt; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    line-height: 480px; /* Altura da linha igual à altura dos botões de navegação */
    font-family: "Varela Round", sans-serif; /* Fonte dos botões de navegação */
    background-color: rgba(255, 255, 255, 0); /* Cor de fundo transparente */
    text-shadow: 0px 0px 15px rgb(119, 119, 119); /* Sombra do texto */
}

/* Mostra os botões de navegação quando o slide é hover (passa o mouse sobre) */
.slide:hover + .nav label {
    opacity: 0.5; /* Torna o botão parcialmente visível */
}

/* Mostra o botão de navegação quando o mouse passa por cima */
.nav label:hover {
    opacity: 1; /* Torna o botão totalmente visível */
}

/* Posiciona o botão de navegação para avançar slides no lado direito */
.nav .next {
    right: 0; /* Alinha à direita */
}

/* Estilo aplicado aos slides quando o input de controle está checado */
input:checked + .slide-container .slide {
    opacity: 1; /* Torna o slide visível */
    transform: scale(1); /* Restaura a escala do slide para 1 */
    transition: opacity 1s ease-in-out 0.1s; /* Transição suave para a opacidade */
}

/* Mostra os botões de navegação quando o input de controle está checado */
input:checked + .slide-container .nav label {
    display: block; /* Torna os botões de navegação visíveis */
}

/* Estilo para os pontos de navegação (indicadores) */
.nav-dots {
    width: 100%; /* Largura total do contêiner de pontos */
    bottom: 9px; /* Posiciona na parte inferior */
    height: 11px; /* Altura dos pontos */
    display: block; /* Exibe o contêiner como bloco */
    position: relative; /* Posiciona relativamente */
    text-align: center; /* Centraliza os pontos */
}

/* Estilo para cada ponto de navegação */
.nav-dots .nav-dot {
    top: 450px; /* Posiciona os pontos mais abaixo no carrossel */
    width: 11px; /* Largura dos pontos */
    height: 11px; /* Altura dos pontos */
    margin: 0 4px; /* Espaçamento entre os pontos */
    position: relative; /* Posiciona relativamente */
    border-radius: 100%; /* Faz os pontos serem circulares */
    display: inline-block; /* Exibe os pontos em linha */
    background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo dos pontos */
}

/* Muda a cor dos pontos quando o mouse passa por cima */
.nav-dots .nav-dot:hover {
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    background-color: rgba(0, 0, 0, 0.8); /* Torna o fundo mais escuro */
}

/* Muda a cor dos pontos quando o input correspondente está checado */
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
    background: rgba(0, 0, 0, 0.8); /* Torna o ponto correspondente mais escuro */
}

/* Efeito de zoom quando um elemento com a classe 'efeito' é hover */
.efeito:hover {
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    transition-duration: 1s; /* Duração da transição */
    transform: scale(1.5, 1.5); /* Aumenta o tamanho do elemento em 1.3x */
}




.container{
    display: grid;/*Validando que o estilo de layout sera GRID*/
    grid-template-columns: repeat(4,2fr);/*Número de colunas que sera dividido*/
    gap:5px; /*epaço entre linhas e colunas*/
    padding: 5px; /*espaçamento entre o TOPO da tela*/
}

/*.item{
    background-color: rgb(0, 0, 0);
    text-align: justify; Texto justificado
    color: white;
    width: 300px;
    height: 250px;
    margin: -100 auto; /*centraliza*/


.item h1{
    text-align:center;
    margin: 0 auto;
    padding-top:70px;
    font-size:15px;
}

.item p{
    margin: 0 auto;
    padding-top: 0px
}

.item img{
    width:300px;
    height: 210px;
}


.item:hover {
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    transition-duration: 1s; /* Duração da transição */
    transform: scale(1.2, 1.2); /* Aumenta o tamanho do elemento em 1.3x */
}


.item img {
border-radius: 50px; /* Arredonda todas as bordas */
}


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
}




.series{
    display: grid;/*Validando que o estilo de layout sera GRID*/
    grid-template-columns: repeat(4,2fr);/*Número de colunas que sera dividido*/
    gap:5px; /*epaço entre linhas e colunas*/
    padding: 5px; /*espaçamento entre o TOPO da tela*/
}


.ite h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    margin: 0 auto;
    padding-top:70px;
    font-size:15px;
}

.ite p{
    margin: 0 auto;
    padding-top: 0px
}

.ite img{
    width:300px;
    height: 210px;
}


.ite:hover {
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    transition-duration: 1s; /* Duração da transição */
    transform: scale(1.2, 1.2); /* Aumenta o tamanho do elemento em 1.3x */
}


.ite img {
border-radius: 50px; /* Arredonda todas as bordas */
}


.ite h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

h2{
    font-family: 'Seogoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}



.inicio{
    display: grid;/*Validando que o estilo de layout sera GRID*/
    grid-template-columns: repeat(1,1fr);/*Número de colunas que sera dividido*/
    gap:5px; /*epaço entre linhas e colunas*/
    padding: 5px; /*espaçamento entre o TOPO da tela*/
}

.it{
    background-color: rgb(168, 166, 166);
    text-align: justify; 
    color: white;
    width: 500px;
    height: 360px;
    margin: 0 auto; /*centraliza*/
    border-radius: 50px; /* Arredonda todas as bordas */
}

.it h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    margin: 0 auto;
    padding-top:70px;
    font-size:15px;
}

.it p{
    margin: 0 auto;
    padding-top: 0px
}

.it img{
    width:500px;
    height: 350px;
}


.it:hover {
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    transition-duration: 0,5s; /* Duração da transição */
    transform: scale(1.1, 1.1); /* Aumenta o tamanho do elemento em 1.3x */
}


.it img {
border-radius: 50px; /* Arredonda todas as bordas */
}
