/*CABEÇALHO E RODÁPE*/

*{margin:0;
    padding:0;
} /* Não deixar que os itens da página atinjam as estremidades */
    
body{
    background-color: #1d1d1d; /* #1d1d1d rgb(27, 25, 25) cor do fundo */ 
    font-family: 'Times New Roman', Times, serif; /* tipo da fonte */ 
    font-size: 20px; /* tamanho da fonte */ 
    font-style: normal; /* estilo da fonte */ 
}
   
header{
    background-color: black;
}
    
header img{ /* Definições da imagem que estão dentro do cabeçalho */
    width: 250px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    margin: 10px; /* Margem da imagem */
    margin-left: 20px;
}

#menu ul{ /* ID para lista */
    list-style: none; /* Sem nenhum estilo na lista, tira os pontos */
    margin-right: 272px;
    align-items: center;
}

#menu ul li i{ 
    margin-right: 5px; /* Adiciona um espaçamento à direita do ícone */
}

#menu ul li { 
    display: flex; /* Transforma o li em um container flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-top: -50px;
  }
    
#menu li{
    position: relative; /* Posição relativa do item da lista */
}
    
#menu li a{ 
    color: white; /* Cor do texto do menu */
    text-decoration: none; /* Sem estilo no texto */
    padding: 10px 10px; /* Espaçamento entre os textos no Menu */
    display: block; /* Opções do menu bloqueadas na posição atual */
}
    
#menu li a:hover{ /* trocar a cor do fundo, quando passar o mouse */
    background: #ff5055; /* Fundo do efeito */
    color: #fff; /* Cor do texto no fundo */
    text-shadow: 0px 0px 5px black; /* Sombra do efeito */
}
    
#menu li ul{
    position: absolute;
    top: 25px; /* Espaçamento do topo */
    left: 0; /* Espaçamento da esquerda */
    background-color: #fff;
    display: none;
}
    
menu li:hover ul, #menu li.over ul{
    display: block; /* Durante o efeito não moverá o menu */
}
    
header, #menu, #menu ul{
    display: flex;
}
    
footer{
    background-color: black;
    display: flex; /* Utiliza flexbox para organizar os elementos */
    justify-content: space-between; /* flex-end Alinha os elementos para o final da linha */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    padding: 10px; /* Adiciona um espaçamento interno */
}
    
footer img{
    width: 250px;
    height: 100px;
}
    
footer p{
    color: white;
    margin-right: 20px; /* Espaçamento entre o texto e a imagem */
    font-family: 'Times New Roman', Times, serif; /* tipo da fonte */ 
    font-size: 20px; /* tamanho da fonte */ 
    font-style: normal; /* estilo da fonte */ 
    text-align: center;
}

.rodape{
    text-align: left;
    margin-left: 12px; /* 16.5 */
}

#menu{
    list-style: none;
    margin: 0 auto; /* Centraliza horizontalmente o menu */
    margin-top: 45px; /* Ajusta a margem superior */
}

.lupa{
    margin-top: 45px;
    margin-right: 25px;
}

.search-box { /* Barra de pesquisa */
    position: absolute; 
    margin-top: 60px; 
    margin-left: 1127px; 
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px;
    padding: 10px; 
}

.search-btn { /* Botão de busca */
    color: #ff5055;
    float: right; 
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background: #1d1d1d; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: 2s; 
}

.search-txt { /* Texto para pesquisa */
    border: none; 
    background: none; 
    outline: none; 
    float: left; 
    padding: 0; 
    color: white; 
    font-size: 16px; 
    transition: 0.4s; 
    line-height: 40px; 
    width: 0px; 
}

.search-box:hover > .search-txt { /* Expandir */
    width: 85px; 
    padding: 2px;
}

.search-box:hover > .search-btn { 
    background: white; 
}

.notification{
    position: absolute; 
    margin-top: 60px; 
    margin-left: 1240px; 
    transform: translate(-50%, -50%); 
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px;
    padding: 10px; 
    
    color: #ff5055; 
    float: right; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: #1d1d1d; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: 2s; 
}

.box-notification{
    margin-top: 168px;
    background-color: #342f2f; /* #2a0c36  -- #1d1d1d*/
    width: 200px;
    height: 100px;
    color: white;
    text-size-adjust: 16px;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.img{
    width: 150px; 
    height: 40px;
}

.notification:hover .box-notification{
    visibility: visible;
    opacity: 1;
}

.enter{
    position: absolute; 
    margin-top: 60px; 
    margin-left: 1310px; 
    transform: translate(-50%, -50%); 
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px;
    padding: 10px; 
    
    color: #ff5055; 
    float: right; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: #1d1d1d; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: 2s; 
}

.box { /* Barra de pesquisa rodapé */
    position: absolute; 
    margin-top: 60px; 
    margin-left: 750px; 
    transform: translate(-50%, -50%); 
    background: #1d1d1d; 
    height: 40px; 
    border-radius: 40px; 
    padding: 10px; 
    width: 560px;
}

.btn { /* Botão de busca rodapé */
    color: #ff5055; 
    float: right; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: 2s; 
}

.txt { /* Texto para pesquisa rodapé */
    border: none; 
    background: none; 
    outline: none; 
    float: left; 
    padding: 0; 
    color: white; 
    font-size: 16px; 
    line-height: 40px; 
    width: 0px; 
    width: 520px; 
    flex: 1;
}



/* CARROSSEL */
.div-slider {
    width: auto; /* Largura automática */
    height: 400px; /* Altura do carrossel */
    text-align: center; /* Centraliza o conteúdo textualmente */
}

/* Estilo para o contêiner dos slides */
.slides-front {
    padding: 0; /* Remove o preenchimento */
    width: 1200px; /* Largura do carrossel */
    height: 370px; /* Altura do carrossel */
    display: block; 
    margin: auto; 
    position: relative; 
}

/* Desativa a seleção de texto para todos os elementos dentro de slides-front */
.slides-front * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides-front input {
    display: none;
}

/* Estilo para o contêiner dos slides */
.slide-container {
    display: block; 
}

/* Estilo para cada slide */
.slide {
    top: 0; 
    opacity: 0; 
    width: 1300px; 
    height: 500px; 
    display: block; 
    position: absolute; 
    transform: scale(0); 
    transition: all .7s ease-in-out 0.1s; 
}

/* Estilo para a imagem dentro de cada slide */
.slide img {
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
}

/* Estilo para os botões de navegação (setas) */
.nav label {
    width: 0px; 
    height: 100%; 
    display: none; 
    position: absolute; 
    opacity: 0; 
    z-index: 9; 
    cursor: pointer; 
    transition: opacity .2s; 
    color: rgb(251, 244, 244); 
    font-size: 50pt; /*muda o tamanho da seta*/
    text-align: center; 
    line-height: 480px; 
    font-family: "Varela Round", sans-serif; 
    background-color: rgba(255, 255, 255, 0); 
    text-shadow: 0px 0px 15px rgb(119, 119, 119); 
}

/* Mostra os botões de navegação quando o slide é hover (passa o mouse sobre) */
.slide:hover + .nav label {
    opacity: 0.5; 
}

/* Mostra o botão de navegação quando o mouse passa por cima */
.nav label:hover {
    opacity: 1; 
}

/* Posiciona o botão de navegação para avançar slides no lado direito */
.nav .next {
    right: 0; 
}

/* Estilo aplicado aos slides quando o input de controle está checado */
input:checked + .slide-container .slide {
    opacity: 1; 
    transform: scale(1); 
    transition: opacity 1s ease-in-out 0.1s; 
}

/* Mostra os botões de navegação quando o input de controle está checado */
input:checked + .slide-container .nav label {
    display: block; 
}

/* Estilo para os pontos de navegação (indicadores) */
.nav-dots {
    width: 100%; 
    bottom: 9px; 
    height: 11px; 
    display: block; 
    position: relative; 
    text-align: center; 
}

/* Estilo para cada ponto de navegação */
.nav-dots .nav-dot {
    top: 450px; 
    width: 11px; 
    height: 11px; 
    margin: 0 4px; 
    position: relative; 
    border-radius: 100%; 
    display: inline-block; 
    background-color: rgba(252, 25, 25, 0.6); 
}

/* Muda a cor dos pontos quando o mouse passa por cima */
.nav-dots .nav-dot:hover {
    cursor: pointer; 
    background-color: rgba(219, 96, 96, 0.8); /* Torna o fundo mais escuro */
}

/* Muda a cor dos pontos quando o input correspondente está checado */
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3, 
input#img-4:checked ~ .nav-dots label#img-dot-4 {
    background: rgba(247, 242, 242, 0.8); /* Torna o ponto correspondente mais escuro */
}

/* Efeito de zoom quando um elemento com a classe 'efeito' é hover */
.efeito:hover {
    cursor: pointer;
    transition-duration: 1s; 
    transform: scale(1.3, 1.3); 
}

/*imagens filmes*/
.tipofilme img{ 
    margin: auto;
    height: 255px;
    width: 295px;
    border-radius: 10px;
    text-align: center;
    
}

.tipofilme h3{
    font-family: "Varela Round", sans-serif; 
    color: aliceblue;
}

.tipofilme img:hover{
    transform: scale(1.25,1.25);
    box-shadow: 0 5px 5px 0 rgb(0 0,0,0,1); /*efeito de sombra*/
}

.tipofilme img:hover::after{
    opacity: 1;
}

.outrosfilmes img{ 
    margin: auto;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    
}

.outrosfilmes h3{
    font-family: "Varela Round", sans-serif; 
    color: aliceblue;
}

.outrosfilmes img:hover{
    transform: scale(1.25,1.25);
    box-shadow: 0 5px 5px 0 rgb(0 0,0,0,1); /*efeito de sombra*/
}

.outrosfilmes img:hover::after{
    opacity: 1;
}

/*grid*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
    margin-top: 150px;
  }
  
  .item {
    background-color: #303030;
    text-align: justify;
    color: hsl(0, 91%, 40%);
    width: 300px;
    margin: 0 auto;

  }


.item img{
    width: 300px;
    height: 300px;
  }

.item img:hover{
    transform: scale(1.25,1.25);
    box-shadow: 0 5px 5px 0 rgb(0 0,0,0,1);
}


